* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  background: url(./img/topstars.png), #E1FF8F;
  background-repeat: no-repeat;
  background-position: center 79%;
  background-size: auto;
}
.top__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 196px;
}
.top__content {
  padding-top: 24px;
  padding-bottom: 156px;
}
.top__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 48px;
}
.top__btn {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 65px;
}
.top__btn:hover {
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.runline {
  display: flex;
  align-items: center;
  gap: 51px;
  white-space: nowrap;
  overflow: hidden;
  background: rgb(188, 236, 48);
}
.runline__text {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
.runline__img {
  padding: 27px 0;
}

.about-games {
  background: url(./img/aboutstars.png) rgb(32, 32, 39);
  background-position: center 78px;
  background-repeat: no-repeat;
  background-size: auto;
}
.about-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 94px;
}
.about-games__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 72px;
}
.about-games__game-cards_desktop {
  display: flex;
  gap: 32px;
}
.about-games__game-cards_tablet {
  display: none;
}
.about-games__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.game-card {
  max-width: 378px;
  background: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
}
.game-card__content {
  max-width: 306px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 32px 32px 36px;
}
.game-card__cover {
  max-width: 100%;
}
.game-card__number {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  padding: 8px 16px 10px;
}
.game-card__title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.game-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.7s;
}

.minigames {
  background: url(./img/minigamestars.png) rgb(32, 32, 39);
  background-position: center 85%;
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 144px;
}
.minigames__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 94px;
}
.minigames__minigame-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 72px;
}

.minigame-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
}
.minigame-card__btn {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 76px;
}
.minigame-card__btn:hover {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
.minigame-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 48px;
}
.minigame-card__title {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}
.minigame-card__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 36px;
}
.minigame-card__cover {
  max-width: 600px;
}
.minigame-card__img {
  max-width: 100%;
}

.footer {
  background: #BDED35;
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding: 61px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .top__title {
    max-width: 792px;
  }
  .about-games__game-cards {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
}
@media (max-width: 900px) {
  .about-games__game-cards_desktop {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .about-games__game-cards_tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .game-card {
    max-width: 345px;
  }
}
@media (max-width: 767px) and (hover: none) {
  .top__btn:hover {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(32, 32, 39);
    background: rgb(32, 32, 39);
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .about-games {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */